@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .sidebarOpen{
    @apply
    bg-white
    dark:bg-[#292929]
    h-screen
    fixed
    z-50
    drop-shadow-xl
    w-60
  }
  .sidebarClosed{
    @apply
    w-0
    bg-white
    dark:bg-slate-900
    h-screen
    fixed
    z-50
  }
  .hideTranstion{
    @apply
    transition-all 
    ease-in-out 
    duration-150
  }
  .navLinks{
    @apply
    flex 
    items-center 
    gap-2 
    font-extrabold
    text-lg
    p-3
    mx-3
    rounded-lg
    transition-all
    ease-in-out
    duration-150
    hover:bg-slate-200/50
    dark:hover:bg-main-dark-bg/25
    text-slate-800
    dark:text-stone-200
  }
  .navLinks.active{
    @apply
    bg-orange-100
    dark:bg-main-dark-bg/75
    dark:text-orange-100
  }
}